.dart_tool/
.idea/
.vscode/
packages/tray_manager/example/linux/[Ff]lutter/
packages/tray_manager/example/macos/[Ff]lutter/
packages/tray_manager/example/windows/[Ff]lutter/

*.iml
pubspec_overrides.yaml
pubspec.lock
